<ion-view hide-back-button="false" view-title=" Mac Qualitaetsicherung Formular 2" name="Home-view">
    <!-- <ion-content overflow-scroll="true">  -->
   <!--  <ion-view title="Mac Qualitaetsicherung Formular"> -->
    <ion-nav-buttons side="secondary">
      <button class="button" ng-controller ="FormularController"  ng-click="getFormularP3()">
       Next
      </button>
    </ion-nav-buttons>
    <ion-pane>
	<ion-content>
 <div>   
<div class="row header">
  <div class="col">MAC </div>
  
  <div class="col col">Qualitaetskontrolle Reisetechniker</div>
</div>
<div class="row">
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Zwischenkontrolle
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>

  </div>
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Endkontrolle
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>

  </div>
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Produktion
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>

  </div>
  
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Sonstiges
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>

  </div>
  
</div>
<!-- <div class="row responsive-sm"> -->
<div class="row header">
  <div class="col">Produzent</div>
  <div class="col">Artikel    </div>
  <div class="col">Fabnr </div>
  <div class="col">Form</div>
  <div class="col">Variante </div>
  <div class="col">Form name</div>
  <div class="col">Auftragsgroesse</div>
</div>
<div class="row header">
 <div class="col">Waescher</div>
  <div class="col">Naeherei    </div>
  <div class="col">Auftrags.-Nr </div>
  <div class="col">Dekade</div>
  <div class="col">Saison </div>
  <div class="col">Kollektion</div>
  <div class="col"> </div>
</div>
<div class="row header">
  <div class="col">Auftragsgr
  </div>
  <div class="col"> Gr. Stichprobe    </div>
  <div class="col"> Fehlertoleranz</div>
  <div class="col"> Gr.d. Sendung</div>
  <div class="col"> Anzahl d. Fehler</div>
  <div class="col"> Prozent d. Fehler</div>
</div>

<div class="row">
   <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Sample versendet
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>
  </div>
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Freigabe MAC
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>
  </div>
</div>
</div>
<div  ng-controller ="FormularController"> 
<div class="row header">
  <div class="col">Gr
  <div class="row header" type="item-text-wrap">
  <div class="col" ng-repeat="number in numbers">{{numbers[$index]}}</div>
  </div>
  </div>
  <div class="col">Leibhoehe vorne(cm)
  <div class="row header">
  <div class="col">Soll</div>
  <div class="col">-2</div>
  <div class="col">-1,5</div>
  <div class="col">-1</div>
  <div class="col">-0,5</div>
  <div class="col">-0</div>
  <div class="col">+0,5</div>
  <div class="col">+1</div>
  <div class="col">+1,5</div>
  </div>
  </div>
  <div class="col">Leibhoehe hinten(cm)
  <div class="row header">
  <div class="col">Soll</div>
  <div class="col">-2,5</div>
  <div class="col">-2</div>
  <div class="col">-1,5</div>
  <div class="col">-1</div>
  <div class="col">-0,5</div>
  <div class="col">0</div>
  <div class="col">+0,5</div>
  <div class="col">+1</div>
  <div class="col">+1,5</div>
  <div class="col">+2</div>
  </div> 
  </div>
  <div class="col">Knieweite(cm)
  <div class="row header">
  <div class="col">Soll</div>
  <div class="col">-2</div>
  <div class="col">-1,5</div>
  <div class="col">-1</div>
  <div class="col">-0,5</div>
  <div class="col">0</div>
  <div class="col">+0,5</div>
  <div class="col">+1</div>
  <div class="col">+1,5</div>
  </div> 
  </div>
  <div class="col">Saumweite(cm)
  <div class="row header">
  <div class="col">-0,75</div>
  <div class="col">-0,5</div>
  <div class="col">-0,25</div>
  <div class="col">0</div>
  <div class="col">+0,5</div>
  <div class="col">+0,75</div>
  <div class="col">+1</div>
   </div> 
  </div>
</div>

</div>

 </ion-content>
 </ion-pane>
</ion-view>