<!DOCTYPE HTML>
<html>
<head>
<title>formularP4</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
</head>
<body>
Hallo FormularP 4
<ion-nav-buttons side="secondary">
      <button class="button" ng-controller ="FormularController"  ng-click="getFormularP3()">
       Next
      </button>
    </ion-nav-buttons>
</body>
</html>