<ion-view hide-back-button="false" view-title=" Mac Qualitaetsicherung Formular 3 " name="Home-view">
    <!-- <ion-content overflow-scroll="true">  -->
   <!--  <ion-view title="Mac Qualitaetsicherung Formular"> -->
    <ion-nav-buttons side="secondary">
      <button class="button" ng-controller ="FormularController"  ng-click="getFormularP4()">
       Next
      </button>
    </ion-nav-buttons>
    <ion-pane>
	<ion-content>
 <div>   
<div class="row header">
  <div class="col">MAC </div>
  
  <div class="col col">Qualitaetskontrolle Reisetechniker</div>
</div>
<div class="row">
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Zwischenkontrolle
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>

  </div>
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Endkontrolle
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>

  </div>
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Produktion
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>

  </div>
  
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Sonstiges
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>

  </div>
  
</div>
<!-- <div class="row responsive-sm"> -->
<div class="row header">
  <div class="col">Produzent</div>
  <div class="col">Artikel    </div>
  <div class="col">Fabnr </div>
  <div class="col">Form</div>
  <div class="col">Variante </div>
  <div class="col">Form name</div>
  <div class="col">Auftragsgroesse</div>
</div>
<div class="row header">
 <div class="col">Waescher</div>
  <div class="col">Naeherei    </div>
  <div class="col">Auftrags.-Nr </div>
  <div class="col">Dekade</div>
  <div class="col">Saison </div>
  <div class="col">Kollektion</div>
  <div class="col"> </div>
</div>
<div class="row header">
  <div class="col">Auftragsgr</div>
  <div class="col"> Gr. Stichprobe  </div>
  <div class="col"> Fehlertoleranz</div>
  <div class="col"> Gr.d. Sendung</div>
  <div class="col"> Anzahl d. Fehler</div>
  <div class="col"> Prozent d. Fehler</div>
</div>

<div class="row">
   <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Sample versendet
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>
  </div>
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Freigabe MAC
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>
  </div>
</div>
</div>
<!-- ende der kopf -->

<div  ng-controller ="FormularController"> 
<div class="row header">
  <div class="col">Grundvearbeitung
  <div class="row header" type="item-text-wrap">
  <div class="col" ng-repeat="gverb in gverbs">{{gverb.name}}</div>
  </div>
  </div>
  <div class="col">A
  </div>
  <div class="col">B</div>
  <div class="col">OK</div>
  
  <div class="col">Verarbeitung</div>
  <div class="col">A</div>
  <div class="col">B</div>
  <div class="col">OK</div>
  <div class="col">Stoff</div>
  <div class="col">A</div>
  <div class="col">B</div>
  <div class="col">OK</div>
  <div class="col">Sonstiges</div>
  <div class="col">A</div>
  <div class="col">B</div>
  <div class="col">OK</div>
  </div>
  <div class="row header">
  <div class="col">Bemerkung :  </div>
 
</div>
<div class="row header">
  <div class="col">Freigabe JA  NEIN .... </div>
 
</div>
<div class="row header">
  <div class="col">Datum :                 Reisetechniker </div>
 
</div>
</div>

 </ion-content>
 </ion-pane>
</ion-view>