
<ion-view hide-back-button="false" view-title=" Mac Qualitaetsicherung Formular " name="Home-view">
    <!-- <ion-content overflow-scroll="true">  -->
   <!--  <ion-view title="Mac Qualitaetsicherung Formular"> -->
    <ion-nav-buttons side="secondary">
      <button class="button" ng-controller ="HomeController"  ng-click="getFormularP2()">
       Next
      </button>
    </ion-nav-buttons>
    <ion-pane>
	<ion-content>
 <!-- <div>   
<div class="row header">
  <div class="col">MAC </div>
  
  <div class="col col">Qualitaetskontrolle Reisetechniker</div>
</div>
<div class="row">
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Zwischenkontrolle
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>

  </div>
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Endkontrolle
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>

  </div>
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Produktion
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>

  </div>
  
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Sonstiges
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>

  </div>
  
</div>
<div class="row responsive-sm">
<div class="row header">
  <div class="col">Produzent</div>
  <div class="col">Artikel    </div>
  <div class="col">Fabnr </div>
  <div class="col">Form</div>
  <div class="col">Variante </div>
  <div class="col">Form name</div>
  <div class="col">Auftragsgroesse</div>
</div>
<div class="row header">
 <div class="col">Waescher</div>
  <div class="col">Naeherei    </div>
  <div class="col">Auftrags.-Nr </div>
  <div class="col">Dekade</div>
  <div class="col">Saison </div>
  <div class="col">Kollektion</div>
  <div class="col"> </div>
</div>
<div class="row header">
  <div class="col">Auftragsgr
  </div>
  <div class="col"> Gr. Stichprobe    </div>
  <div class="col"> Fehlertoleranz</div>
  <div class="col"> Gr.d. Sendung</div>
  <div class="col"> Anzahl d. Fehler</div>
  <div class="col"> Prozent d. Fehler</div>
</div>

<div class="row">
   <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Sample versendet
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>
  </div>
  <div class="col">
  <ul class="list">
  <li class="item item-checkbox">
   Freigabe MAC
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>
</ul>
  </div>
</div>
</div>
 -->
 
 <!--mathhias view   -->
 <div class="bar bar-header bar-stable"><!-- Header -->
     <a class="button icon-left ion-chevron-left">&nbsp;Back</a><!-- Button back -->
                <h1 class="title">MACQSAPP</h1>
    <a class="button icon-right ion-chevron-right navibutton-right">Next&nbsp;</a><!-- Button foward -->
      </div><!-- /. Header -->
    <ion-content class="has-header" ><!-- Content -->
  <div class="card"><!-- Card -->
  <div id="checkboxen"><!-- Checkboxen -->
  <ion-list>
  <div class="item item-divider">
    <p>MAC - Qualitätskontrolle Reisetechniker</p>
  </div>
  <ion-checkbox ng-model="filter.blue" class="floatleft noborder">Zwischenkontrolle</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow" class="floatleft noborder">Endkontrolle</ion-checkbox>
  <ion-checkbox ng-model="filter.grey" class="floatleft noborder">Produktion</ion-checkbox>
  <div class="floatstop"></div>
</ion-list>
</div><!-- /. Checkboxen -->
<div class="floatstop"></div><!-- FLOATSTOP -->
<div class="row header"><!-- Header1 -->
          <div class="col col-20 colhead">
          <p>Produzent</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Artikel</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Farbnr.</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Form</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Variante</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Formname</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Auftragsgröße</p>
          <p>Sample</p>
          </div>
        </div><!-- /. Header1 -->
<div class="row header"><!-- Header2 -->
          <div class="col col-20 colhead">
          <p>Wäscher</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Näherei</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Auftr.-Nr.</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Dekade</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Saison</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Kollektion</p>
          <p>Sample</p>
          </div>
          <div class="colhead"></div>
        </div><!-- /. Header2 -->
<div class="row header"><!-- Header3 -->
          <div class="col col-20 colhead"><p>Auftragsgr.</p>
          <p>90 - 500</p>
          <p>501 - 1200</p>
          <p>1201 - 3200</p>
          <p>3201 - 10000</p>
          </div>
          <div class="col col-20 colhead">
            <p>Gr. Stichprobe</p>
          <p>13</p>
          <p>20</p>
          <p>32</p>
          <p>50</p>
          </div>
          <div class="col col-20 colhead">
            <p>Fehlertoleranz</p>
          <p>3</p>
          <p>4</p>
          <p>6</p>
          <p>7</p>
          </div>
          <div class="col col-20 colhead">Gr. d. Sendung</div>
          <div class="col col-20 colhead">Gr. d. Stichprobe</div>
          <div class="col col-20 colhead">Anzahl d. Fehler</div>
          <div class="col col-20 colhead">Prozent d. Fehler</div>
        </div><!-- /. Header3 -->
<!-- end kopf -->
<div  ng-controller ="FormularController"> 
<div class="row header">
  <div class="col">Gr
  <div class="row header" style="flex-wrap: wrap">
  <div class="col" ng-repeat="number in numbers">{{numbers[$index]}}</div>
  </div>
  </div>
  <div class="col">Bundweiten(cm)
  <div class="row header">
  <div class="col">Soll</div>
  <div class="col">-2</div>
  <div class="col">-1,5</div>
  <div class="col">-1</div>
  <div class="col">-0,5</div>
  <div class="col">-0</div>
  <div class="col">+0,5</div>
  <div class="col">+1</div>
  <div class="col">+1,5</div>
  </div>
  </div>
  <div class="col">Gesaeweiten(cm)
  <div class="row header">
  <div class="col">Soll</div>
  <div class="col">-2,5</div>
  <div class="col">-2</div>
  <div class="col">-1,5</div>
  <div class="col">-1</div>
  <div class="col">-0,5</div>
  <div class="col">0</div>
  <div class="col">+0,5</div>
  <div class="col">+1</div>
  <div class="col">+1,5</div>
  <div class="col">+2</div>
  </div> 
  </div>
  <div class="col">Spalt(cm)
  <div class="row header">
  <div class="col">Soll</div>
  <div class="col">-2</div>
  <div class="col">-1,5</div>
  <div class="col">-1</div>
  <div class="col">-0,5</div>
  <div class="col">0</div>
  <div class="col">+0,5</div>
  <div class="col">+1</div>
  <div class="col">+1,5</div>
  </div> 
  </div>
  <div class="col">Laenge(inch)
  <div class="row header">
  <div class="col">-0,75</div>
  <div class="col">-0,5</div>
  <div class="col">-0,25</div>
  <div class="col">0</div>
  <div class="col">+0,5</div>
  <div class="col">+0,75</div>
  <div class="col">+1</div>
   </div> 
  </div>
</div>

</div>

 </ion-content>
 </ion-pane>
</ion-view>