<ion-view hide-back-button="true" title="Mac Qualitatsicherung">
  <ion-pane>
    <ion-content overflow-scroll="true">
     
<div class="list" ng-controller="HomeController">
<label class="item item-input item-select">
    <div class="input-label">
      Fertigungsauftragsnummer
    </div>
    <select name = "fanr" id = "fanr" ng-model="dataFa.repeatFanr" ng-change="changedFanr(dataFa.repeatFanr)">
    <option ng-repeat="option in dataFa.availableOptions" value="{{option.fanr}}">{{option.fanr}}</option>
    </select>
   </label>
    </ion-content>
  </ion-pane>
</ion-view>