<!-- <ion-view hide-back-button="true" title="Mac Qualitatsicherung"> -->
<ion-view hide-back-button="true" title="">
  <ion-pane>
    <ion-content overflow-scroll="true">
    
    <div class="item item-divider">
    Bitte wählen Sie die entsprechende Fertigungsauftragsnummer und Produzent aus:
  </div>
     
<div class="list" ng-controller="HomeController as home">
<label class="item item-input item-select">
    <div class="input-label">
      Fertigungsauftragsnummer:
    </div>
    <select name = "fanr" id = "fanr" ng-model="dataFa.repeatFanr" ng-change="changedFanr(dataFa.repeatFanr)">
    <option ng-repeat="option in dataFa.availableOptions" value="{{option.fanr}}">{{option.fanr}}</option>
    </select>
   </label>
   <!--mus noch geklärt werden  -->
   <label class="item item-input item-select">
    <div class="input-label">
      Produzent:
    </div>
    <select name = "name" id = "id" ng-model="dataFet.repeatFet" ng-change="changedFeto(dataFet.repeatFet)">
    <option ng-repeat="option in dataFet.availableOptions" value="{{option.name">{{option.name}}</option>
    </select>
   </label>
   </div>
    </ion-content>
  </ion-pane>
</ion-view>