
/* Stylesheet content from css/main.css in folder common */
/* body {
  position: initial;
} */
html, body {
    height: 100%;
}
/* .body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
 */
/* .header .col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}
.col:last-child {
  border-right: solid 1px grey;
} */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.header .col {
  background-color:lightgrey;
}

.colhead {
    border: solid 1px grey;
    background-color: #F0F0F0;
    text-align: center;
}


.data{
  background-color: white;
  border: 1px solid black;

}

.datahead{
  background-color: white;
  border: none;
}


.dataimportant{
background-color: #D0D0D0 ;
}


.check{
  float: left;
  border: none;

}

.centertext{
  text-align: center;
  padding-top: 2%;
}


.floatleft{
  float: left;
}

.floatstop{
  clear: both;
  padding-top: 2%;
}

.halfwidth{
  width: 50%;
}

.noborder{
  border: none;
}

.inputtableist {
    border-color: #fff;
  }

/*Google Nexus 7 Hochformat Media Queries*/
@media screen and (max-width: 768px) {
#errortypea{
  padding-left: 7%;
}
#errortypeb{
  padding-left: 18%;
}

}

/*Google Nexus 7 Landscape Media Queries*/
@media screen and (min-width: 960px) {

#errortypea{
  padding-left: 7%;
}
#errortypeb{
  padding-left: 10%;
}


}




/* Stylesheet content from css/main.css in folder android */

/* this CSS file extends the application CSS file found under common\css */

