
<ion-view view-title="" name="login-view">
  <ion-content class="padding">
  <div ng-controller="OfflineController as offline">
  <div id="header">
   			<h1>MAC Mode Qualitaetsicherung App</h1>
   			<h6 id="offlineAccess">Offline Access</h6>
   </div>
   
   <div id="wrapper">
	   		<div id="unsecuredDiv">
		   		<h4>Hinweis</h4>
		   		<p>Die Mac Mode GmbH & Co KGaA (im Folgenden „Mac Mode“) überprüft die
Qualitaet von Produzenten, indem Mitarbeiter die Produktionsstätten vor Ort
besuchen und anhand eines vorgegebenen Kataloges eine Anzahl von
Exemplaren überprüfen. Diese Daten werden in zwei unterschiedlichen Excel-
Formularen erfasst (es gibt ein Anprobenprotokoll und ein Qualitätssicherungs-
Kontrollblatt) und nach der Erfassung an die Zentrale versendet.</p>
		   		<br>
		   		<button id="goToSecuredArea" ng-click="goToSecuredArea()">loss geht!!!</button>
	   		</div>
	   		
	   		<!-- <div id="authDiv">
	   			<h4>Login to secured area</h4>
	   			<div id="authInfo"></div>
	   			<input id="username" type="text" placeholder="Enter username"/>
	   			<input id="password" type="password" placeholder="Enter password"/>
	   			<button id="offlineLoginButton">Login</button>
	   			<button id="onlineLoginButton">Login</button>
	   			<button id="cancelLoginButton">Cancel</button><br><br>
	   		</div>
	   		
	   		<div id="securedDiv">
	   			<h4>Secured area</h4>
	   			<button>secure action #1</button><br>
	   			<button>secure action #2</button><br>
	   			<button>secure action #3</button><br><br>
	   			<button id="backToUnsecuredArea">Back to unsecured area</button><button id="logout">Logout</button>
	   		</div> -->
   		</div>
   		</div>
   		
      <!-- <div class="list list-inset " ng-controller="LoginController as login">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="vm.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="vm.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login(vm.username,vm.password)">Login</button> -->
  </ion-content>
</ion-view>