<ion-view view-title="" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset " ng-controller="LoginController as login">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="vm.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="vm.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
  </ion-content>
</ion-view>