<ion-view view-title="" name="login-view">
  <ion-content class="padding">
  
  <div id="header">
   			<!-- <h1>Offline Authentication Sample</h1> -->
   			<h6 id="offlineAccess">Offline Access</h6>
   </div>
   
   <div id="wrapper" ng-controller="LoginController as login">
	   		<div id="unsecuredDiv">
		   		<h4>Unsecured area</h4>
		   		<ion-item class="item-image">
          <img src="images/mac-jeans.png">
        </ion-item>
		   		<br>
		   		<button id="goToSecuredArea" ng-click="goToSecuredArea()">Go to secured area</button>
	   		</div>
	   		
	   		<div id="authDiv">
	   			<h4>Login to secured area</h4>
	   			<div id="authInfo"></div>
	   			<input id="username" type="text" placeholder="Enter username"/>
	   			<input id="password" type="password" placeholder="Enter password"/>
	   			<button id="offlineLoginButton">Login</button>
	   			<button id="onlineLoginButton">Login</button>
	   			<button id="cancelLoginButton">Cancel</button><br><br>
	   		</div>
	   		
	   		<div id="securedDiv">
	   			<h4>Secured area</h4>
	   			<!-- <div class="item item-divider">
    Bitte waehlen Sie die entsprechende Fertigungsauftragsnummer und Produzent aus:
  </div> -->
<!-- <div class="list" ng-controller="HomeController as home">
 
   <label class="item item-input item-select">
    <div class="input-label">
      Produzent:
    </div>
    <select name = "name" id = "id" ng-model="dataFet.repeatFet" ng-change="changedFeto(dataFet.repeatFet)">
    <option ng-repeat="option in dataFet.availableOptions" value="{{option.json.name}}">{{option.json.name}}</option>
    </select>
   </label>
   <label class="item item-input item-select">
    <div class="input-label">
      Fertigungsauftragsnummer:
    </div>
    <select name = "fanr" id = "fanr" ng-model="dataFa.repeatFanr" ng-change="changedFanr(dataFa.repeatFanr)">
    <option ng-repeat="option in dataFa.availableOptions" value="{{option.json.fanr}}">{{option.json.fanr}}</option>
    </select>
   </label>
   </div> -->
	   			<button id="backToUnsecuredArea">Back to unsecured area</button><button id="logout">Logout</button>
	   		</div>
   		</div> 
  </ion-content>
  </ion-view>
