
<ion-view hide-back-button="false" view-title="  " name="Home-view" ng-controller ="FormularP1Controller as formularP1">
     <!-- <ion-content overflow-scroll="true">  -->
   <!--  <ion-view title="Mac Qualitaetsicherung Formular"> -->
    <ion-nav-buttons side="secondary">
      <button class="button icon-right ion-chevron-right navibutton-right"  ng-click="getFormularP2()">
       Next&nbsp;
      </button>
    </ion-nav-buttons>
    <ion-pane>
    
 <!--mathhias view   -->
 <link rel="stylesheet" href="css/main.css">
<!--  <div class="bar bar-header bar-stable">Header
     <a class="button icon-left ion-chevron-left">&nbsp;Back</a>Button back
                <h1 class="title">MACQSAPP</h1>
    <a class="button icon-right ion-chevron-right navibutton-right">Next&nbsp;</a>Button foward
      </div>/. Header -->
    <!-- <ion-content class="has-header" >Content -->
    
     <ion-content>
     <div class="item item-divider">
    Bitte fuellen  Sie das Formular aus:
  </div>
  <div class="card"><!-- Card -->
  <div id="checkboxen"><!-- Checkboxen -->
  <ion-list>
  <div class="item item-divider">
    <p>MAC - Qualitaetskontrolle Reisetechniker</p>
  </div>
  <ion-checkbox ng-model="filter.blue" class="floatleft noborder">Zwischenkontrolle</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow" class="floatleft noborder">Endkontrolle</ion-checkbox>
  <ion-checkbox ng-model="filter.grey" class="floatleft noborder">Produktion</ion-checkbox>
  <div class="floatstop"></div>
</ion-list>
</div><!-- /. Checkboxen -->
<div class="floatstop"></div><!-- FLOATSTOP -->
<ul class="list">
    <div class="item item-divider">Uebersicht</div>
    <li class="item">
     <p>Produzent<span class="item-note">Data</span></p>  
    </li>
      <li class="item">
     <p>Artikel<span class="item-note">Data</span></p>  
    </li>
      <li class="item">
     <p>Farbnummer<span class="item-note">Data</span></p>  
    </li>
      <li class="item">
     <p>Form<span class="item-note">Data</span></p>  
    </li>
      <li class="item">
     <p>Variante<span class="item-note">Data</span></p>  
    </li>
      <li class="item">
     <p>Sample<span class="item-note">Data</span></p>  
    </li>
      <li class="item">
     <p>Formname<span class="item-note">Data</span></p>  
    </li>
     <li class="item">
     <p>Waescher<span class="item-note">Data</span></p>  
    </li>
     <li class="item">
     <p>Naeherei<span class="item-note">Data</span></p>  
    </li>
     <li class="item">
     <p>Auftragsnummer<span class="item-note">Data</span></p>  
    </li>
     <li class="item">
     <p>Dekade<span class="item-note">Data</span></p>  
    </li>
     <li class="item">
     <p>Saison<span class="item-note">Data</span></p>  
    </li>
     <li class="item">
     <p>Kollektion<span class="item-note">Data</span></p>  
    </li>
     <li class="item">
     <p>Auftragsgroesse<span class="item-note">90 - 500</span></p>  
    </li>
     <li class="item">
     <p>Groesse Stichprobe<label class=" item-note "><input type="number" placeholder="Daten angeben"></label></p>  
    </li>
    <li class="item">
     <p>Fehlertoleranz<label class="item-note "><input type="number" placeholder="Daten angeben"></label></p>  
    </li>
    <li class="item">
     <p>Groesse der Sendung<span class="item-note">Data</span></p>  
    </li>
    <li class="item">
     <p>Anzahl der Fehler<span class="item-note">Data</span></p>  
    </li>
    <li class="item">
     <p>Prozent der Fehler<span class="item-note">Data</span></p>  
    </li>
    <div class="item item-divider"></div>
</ul>
</div>
 
        <div class="card"><!-- Textarea Neue Stichprobe -->
<div class="item item-divider">
    Neue Stichprobe
  </div>
  <label class="item item-input">
    <textarea rows="2" cols="10" placeholder="Bitte geben Sie hier Ihre Bemerkungen ein"></textarea>
  </label>
</div><!-- /. Textarea Neue Stichprobe->
<!-- end kopf -->




<!--================================== TABLE FUER DATENANZEIGE FORMULAR ==================================-->


 </ion-content>
 </ion-pane>
</ion-view>