<ion-view hide-back-button="false" view-title=" " name="Home-view" ng-controller ="FormularP1Controller as formularP3">
    <!-- <ion-content overflow-scroll="true">  -->
   <!--  <ion-view title="Mac Qualitaetsicherung Formular"> -->
    <ion-nav-buttons side="secondary">
      <button class="button icon-right ion-chevron-right navibutton-right"  ng-click="getFormularP4()">
       Next&nbsp;
      </button>
    </ion-nav-buttons>
    <ion-pane>
	<ion-content>
	<link rel="stylesheet" href="css/main.css">
<div class="card"><!-- Textarea Bemerkungen -->
<div class="item item-divider">
    Bitte wählen Sie die entsprechende Fehlerkategorie:
  </div>
<div class="row"><!-- Auswahlbuttons Fehleranzeige -->
<div class="col col-100">
<div class="button-bar">
  <a class="button" ng-click="getBundType()">Bund</a>
  <a class="button" ng-click="getVarbType()">Verarbeitung</a>
  <a class="button" ng-click="getMassType()">Maße</a>
  <a class="button" ng-click="getStoffType()">Stoff</a>
  <a class="button" ng-click="getWaschType()">Waschung</a>
  <a class="button" ng-click="getSonsType()">sonstiges</a>
</div>
</div>
</div><!-- /. Auswahlbuttons Fehleranzeige -->

<!-- das wird dynamic geladen -->
<!-- this div hav display none -->
<div  id = "errortype" ng-show="errortype">

<div class="item item-divider">
    Bitte wählen Sie die Fehlerart aus:
  </div>

<div class="row">
<div class="col col-60"><h5>Fehlerart</h5></div>
<div class="col col-40 errorcode"><span id="errortypea"><b>A</b></span>&nbsp;<span id="errortypeb"><b>B</b></span></div>
</div>
<div class="row"><!-- Toogles -->
<div class="col col-60"><p>Bundverarbeitung</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     
     </div>
</div>

<div class="row">
<div class="col col-60"><p>Taschen vorne</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </div>
</div>
<div class="row">
<div class="col col-60"><p>Taschen hinten</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </div>
</div>
<div class="row">
<div class="col col-60"><p>Schlitzverarbeitung</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </div>
</div>
<div class="row">
<div class="col col-60"><p>Seiten- u. Gesäßnähte</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </div>
</div>

<div class="row">
<div class="col col-60"><p>Schrittnaht (ziehend)</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </div>
</div>
</div>
</div>  
<!-- end diyplay none  -->


<!--==================================  Felder unten ================================== -->
<div class="card"><!-- Textarea Bemerkungen -->
<div class="item item-divider">
    Bemerkungen:
  </div>
  <label class="item item-input">
    <textarea rows="8" cols="10" placeholder="Bitte geben Sie hier Ihre Bemerkungen ein"></textarea>
  </label>
</div><!-- /. Textarea Bemerkungen-->
<div class="list"><!-- Sample & Freigabe -->
  <div class="item item-divider">
    <p>Sample versendet</p>
  </div>
<ion-checkbox ng-model="filter.green" class="floatleft noborder">JA</ion-checkbox>
 <ion-checkbox ng-model="filter.red" class="floatleft noborder">NEIN</ion-checkbox>
<div class="floatstop"></div><!-- FLOATSTOP -->
<div class="item item-divider">
    <p>Freigabe MAC</p>
  </div>
  <ion-checkbox ng-model="filter.green" class="floatleft noborder">JA</ion-checkbox>
 <ion-checkbox ng-model="filter.red" class="floatleft noborder">NEIN</ion-checkbox>
 <div class="floatstop"></div>
</div><!-- /.Sample & Freigabe -->
<div class="list"><!-- Sample & Freigabe -->
  <div class="item item-divider">
    <p>Freigabe</p>
  </div>
<div class="row"><!-- Checkboxen Freigabe -->
  <ion-checkbox ng-model="filter.green" class="floatleft noborder">JA</ion-checkbox>
 <ion-checkbox ng-model="filter.red" class="floatleft noborder">NEIN</ion-checkbox>
<ion-checkbox ng-model="filter.red" class="floatleft noborder">unter Vorbehalt</ion-checkbox>
</div><!-- /. Checkboxen Freigabe -->
<div class="floatstop"></div>

<div class="row"><!-- Datum/Unterschrift -->
<label class="item item-input floatleft halfwidth">
  <span class="input-label">Reisetechniker</span>
  <input type="text">
</label>
<label class="item item-input floatleft halfwidth">
  <span class="input-label">Datum</span>
  <input type="date">
</label>
</div><!--- /. Datum/Unterschrift -->

 </ion-content>
 </ion-pane>
</ion-view>