<!-- <script id="my-popover.html" type="text/ng-template"></script> -->
<ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Fehlerarte</h1>
    </ion-header-bar>
    <ion-content>
     <!-- <div  id = "errortype" ng-show="errortype"> -->

<div class="item item-divider">
    Bitte waehlen Sie die Fehlerart aus:
  </div>

<div class="row">
<div class="col col-60"><h5>Fehlerart</h5></div>
<div class="col col-40 errorcode"><span id="errortypea"><b>A</b></span>&nbsp;<span id="errortypeb"><b>B</b></span></div>
</div>
<div class="row"><!-- Toogles -->
<div class="col col-60"><p>Bundverarbeitung</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     
     </div>
</div>

<div class="row">
<div class="col col-60"><p>Taschen vorne</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </div>
</div>
<div class="row">
<div class="col col-60"><p>Taschen hinten</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </div>
</div>
<div class="row">
<div class="col col-60"><p>Schlitzverarbeitung</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </div>
</div>
<div class="row">
<div class="col col-60"><p>Seiten- u. Gesaessnaehte</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </div>
</div>

<div class="row">
<div class="col col-60"><p>Schrittnaht (ziehend)</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </div>
</div>

<button class="button" ng-click="closePopover()">Speichern</button>
<!-- </div> -->
    </ion-content>
  </ion-popover-view>