<ion-view hide-back-button="false" view-title=" " name="Home-view" ng-controller ="FormularP1Controller as formularP2">
    <!--  <ion-content overflow-scroll="true">  --> 
    <ion-nav-buttons side="secondary">
      <button class="button icon-right ion-chevron-right navibutton-right"  ng-click="getFormularP3()">
       Next&nbsp;
      </button>
    </ion-nav-buttons>
    <ion-pane>
	<ion-content>
	<link rel="stylesheet" href="css/main.css">
<div class="card"><!-- Card -->
 <div class="item item-divider">
    <h3>Hose des Auftrags</h3>
    <ul class="list">
    <li class="item">
    <label>Länge:</label>
    32
    </li>
    <li class="item">
    <label>Größe:</label>
    34
    </li>
    <li class="item">
    <label>Farbe:</label>
    DXXXXX
    </li>
    <li class="item">
    <label>Stichprobennummer:</label>
    1
    </li>
</ul>
  </div>
<div class="row header"><!-- Header -->
          <div class="col col-9 data centertext">Name</div>
          <div class="col col-9 data dataimportant centertext">Soll</div>
          <div class="col col-9 data centertext">Ist</div>
          <div class="col col-9 data centertext">Differenz</div>
        </div><!-- /. Header -->
      <div class="row" ><!-- Data -->
          <div class="col col-9 data centertext">Bundweiten (cm)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data"> 
          <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
          <div class="col col-9 data dataimportant  centertext"></div>
        </div><!-- /. Data --> 
              <div class="row"><!-- Data -->
          <div class="col col-9 data centertext">Größenweiten (cm)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
        <div class="col col-9 data dataimportant centertext"></div>
        </div><!-- /. Data --> 
              <div class="row" ><!-- Data -->
          <div class="col col-9 data centertext">Spalt (cm)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
          <div class="col col-9 data dataimportant centertext"></div>
        </div><!-- /. Data --> 
              <div class="row" ><!-- Data -->
          <div class="col col-9 data centertext">Länge (inch)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
          <div class="col col-9 data dataimportant centertext"></div>
        </div><!-- /. Data --> 
              <div class="row" ><!-- Data -->
          <div class="col col-9 data centertext">Leibhöhe vorne (cm)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
         <div class="col col-9 data dataimportant centertext"></div>
        </div><!-- /. Data --> 
              <div class="row" ><!-- Data -->
          <div class="col col-9 data centertext">Leibhöhe hinten (cm)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
        <div class="col col-9 data dataimportant centertext"></div>
        </div><!-- /. Data --> 
              <div class="row" ><!-- Data -->
          <div class="col col-9 data centertext">Knieweite (cm)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
           <div class="col col-9 data dataimportant centertext"></div>
        </div><!-- /. Data --> 
              <div class="row" ><!-- Data -->
          <div class="col col-9 data centertext">Saumweite</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
           <div class="col col-9 data dataimportant centertext"></div>
        </div><!-- /. Data --> 
      
      
</div>

 </ion-content>
 </ion-pane>
</ion-view>