
<ion-view hide-back-button="false" view-title="  " name="Home-view" ng-controller ="FormularP1Controller as formularP1">
     <!-- <ion-content overflow-scroll="true">  -->
   <!--  <ion-view title="Mac Qualitaetsicherung Formular"> -->
    <ion-nav-buttons side="secondary">
      <button class="button icon-right ion-chevron-right navibutton-right"  ng-click="getFormularP2()">
       Next&nbsp;
      </button>
    </ion-nav-buttons>
    <ion-pane>
    
 <!--mathhias view   -->
 <link rel="stylesheet" href="css/main.css">
<!--  <div class="bar bar-header bar-stable">Header
     <a class="button icon-left ion-chevron-left">&nbsp;Back</a>Button back
                <h1 class="title">MACQSAPP</h1>
    <a class="button icon-right ion-chevron-right navibutton-right">Next&nbsp;</a>Button foward
      </div>/. Header -->
    <!-- <ion-content class="has-header" >Content -->
    
     <ion-content>
     <div class="item item-divider">
    Bitte füllen  Sie das Formular aus:
  </div>
  <div class="card"><!-- Card -->
  <div id="checkboxen"><!-- Checkboxen -->
  <ion-list>
  <div class="item item-divider">
    <p>MAC - Qualitätskontrolle Reisetechniker</p>
  </div>
  <ion-checkbox ng-model="filter.blue" class="floatleft noborder">Zwischenkontrolle</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow" class="floatleft noborder">Endkontrolle</ion-checkbox>
  <ion-checkbox ng-model="filter.grey" class="floatleft noborder">Produktion</ion-checkbox>
  <div class="floatstop"></div>
</ion-list>
</div><!-- /. Checkboxen -->
<div class="floatstop"></div><!-- FLOATSTOP -->
<div class="row header"><!-- Header1 -->
          <div class="col col-20 colhead">
          <p>Produzent</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Artikel</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Farbnr.</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Form</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Variante</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Formname</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Auftragsgröße</p>
          <p>Sample</p>
          </div>
        </div><!-- /. Header1 -->
<div class="row header"><!-- Header2 -->
          <div class="col col-20 colhead">
          <p>Wäscher</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Näherei</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Auftr.-Nr.</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Dekade</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Saison</p>
          <p>Sample</p>
          </div>
          <div class="col col-20 colhead">
          <p>Kollektion</p>
          <p>Sample</p>
          </div>
          <div class="colhead"></div>
        </div><!-- /. Header2 -->
<div class="row header"><!-- Header3 -->
          <div class="col col-20 colhead"><p>Auftragsgr.</p>
          <p>90 - 500</p>
          </div>
          <div class="col col-20 colhead">
            <p>Gr. Stichprobe</p>
          <div class="col col-9 datahead"> 
          <label class="item item-input inputtableist">
          <input type="number" placeholder="Daten angeben">
          </label>
          </div>
          </div>
          <div class="col col-20 colhead">
            <p>Fehlertoleranz</p>
          <div class="col col-9 datahead"> 
          <label class="item item-input inputtableist">
          <input type="number" placeholder="Daten angeben">
          </label>
          </div>
          </div>
          <div class="col col-20 colhead">Gr. d. Sendung</div>
          <div class="col col-20 colhead"></div>
          <div class="col col-20 colhead">Anzahl d. Fehler</div>
          <div class="col col-20 colhead">Prozent d. Fehler</div>
        </div><!-- /. Header3 --> 
        </div><!-- /.card --> 
        <div class="card"><!-- Textarea Neue Stichprobe -->
<div class="item item-divider">
    Neue Stichprobe
  </div>
  <label class="item item-input">
    <textarea rows="2" cols="10" placeholder="Bitte geben Sie hier Ihre Bemerkungen ein"></textarea>
  </label>
</div><!-- /. Textarea Neue Stichprobe->
<!-- end kopf -->
<!-- <div class="list">Sample & Freigabe
  <div class="item item-divider">
    <p>Sample versendet</p>
  </div>
<ion-checkbox ng-model="filter.green" class="floatleft noborder">JA</ion-checkbox>
 <ion-checkbox ng-model="filter.red" class="floatleft noborder">NEIN</ion-checkbox>
<div class="floatstop"></div>FLOATSTOP
<div class="item item-divider">
    <p>Freigabe MAC</p>
  </div>
  <ion-checkbox ng-model="filter.green" class="floatleft noborder">JA</ion-checkbox>
 <ion-checkbox ng-model="filter.red" class="floatleft noborder">NEIN</ion-checkbox>
 <div class="floatstop"></div>
</div>/.Sample & Freigabe -->



<!--================================== TABLE FUER DATENANZEIGE FORMULAR ==================================-->
<!-- <div class="item item-divider">
    <h3>Hose des Auftrags</h3>
  </div>
<div class="row header">Header
          <div class="col col-9 data centertext">Name</div>
          <div class="col col-9 data dataimportant centertext">Soll</div>
          <div class="col col-9 data centertext">Ist</div>
        </div>/. Header
      <div class="row" >Data
          <div class="col col-9 data centertext">Bundweiten (cm)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data"> 
          <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
        </div>/. Data 
              <div class="row">Data
          <div class="col col-9 data centertext">Größenweiten (cm)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
        </div>/. Data 
              <div class="row" >Data
          <div class="col col-9 data centertext">Spalt (cm)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
        </div>/. Data 
              <div class="row" >Data
          <div class="col col-9 data centertext">Länge (inch)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
        </div>/. Data 
              <div class="row" >Data
          <div class="col col-9 data centertext">Leibhöhe vorne (cm)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
        </div>/. Data 
              <div class="row" >Data
          <div class="col col-9 data centertext">Leibhöhe hinten (cm)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
        </div>/. Data 
              <div class="row" >Data
          <div class="col col-9 data centertext">Knieweite (cm)</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
        </div>/. Data 
              <div class="row" >Data
          <div class="col col-9 data centertext">Saumweite</div>
          <div class="col col-9 data dataimportant centertext">{{data.row2}}</div>
          <div class="col col-9 data">
            <label class="item item-input inputtableist">
          <input type="number" placeholder="Bitte Daten angeben">
          </label>
          </div>
        </div>/. Data 
      


================================== DATENANZEIGE UNTEN ==================================

<div class="card">Textarea Bemerkungen
<div class="item item-divider">
    Bitte wählen Sie die entsprechende Fehlerkategorie:
  </div>
<div class="row">Auswahlbuttons Fehleranzeige
<div class="col col-100">
<div class="button-bar">
  <a class="button" ng-click="getBundType()">Bund</a>
  <a class="button" ng-click="getVarbType()">Verarbeitung</a>
  <a class="button" ng-click="getMassType()">Maße</a>
  <a class="button" ng-click="getStoffType()">Stoff</a>
  <a class="button" ng-click="getWaschType()">Waschung</a>
  <a class="button" ng-click="getSonsType()">sonstiges</a>
</div>
</div>
</div>/. Auswahlbuttons Fehleranzeige

das wird dynamic geladen
this div hav display none
<div  id = "errortype" ng-show="errortype">

<div class="item item-divider">
    Bitte wählen Sie die Fehlerart aus:
  </div>

<div class="row">
<div class="col col-60"><h5>Fehlerart</h5></div>
<div class="col col-40 errorcode"><span id="errortypea"><b>A</b></span>&nbsp;<span id="errortypeb"><b>B</b></span></div>
</div>
<div class="row">Toogles
<div class="col col-60"><p>Teil 1</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     
     </div>
</div>

<div class="row">
<div class="col col-60"><p>Teil 2</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </div>
</div>
<div class="row">
<div class="col col-60"><p>Teil 3</p></div>
<div class="col col-40">
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <label class="toggle toggle-energized">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     </div>
</div>
</div>
</div>  
end diyplay none 


==================================  Felder unten ==================================
<div class="card">Textarea Bemerkungen
<div class="item item-divider">
    Bemerkungen:
  </div>
<label class="item item-input item-stacked-label">
  <span class="input-label"></span>
  <textarea rows="8" cols="10">
  Bitte geben Sie hier Ihre Bemerkungen ein
  </textarea>
</label>
</div>/. Textarea Bemerkungen
<div class="list">Sample & Freigabe
  <div class="item item-divider">
    <p>Freigabe</p>
  </div>
<div class="row">Checkboxen Freigabe
  <ion-checkbox ng-model="filter.green" class="floatleft noborder">JA</ion-checkbox>
 <ion-checkbox ng-model="filter.red" class="floatleft noborder">NEIN</ion-checkbox>
<ion-checkbox ng-model="filter.red" class="floatleft noborder">unter Vorbehalt</ion-checkbox>
</div>/. Checkboxen Freigabe
<div class="floatstop"></div>

<div class="row">Datum/Unterschrift
<label class="item item-input floatleft halfwidth">
  <span class="input-label">Reisetechniker</span>
  <input type="text">
</label>
<label class="item item-input floatleft halfwidth">
  <span class="input-label">Datum</span>
  <input type="date">
</label>
</div>- /. Datum/Unterschrift
 -->

 </ion-content>
 </ion-pane>
</ion-view>